{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/styles/styles.css' %}">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'home' %}" method="post">
        <label id="l-name">name</label>
        <input type="text" id="input1" name="input1">
        <u></u>
        <label id="l-password">password</label>
        <input type="password" id="input2" name="input2">
        <button type="submit" id="btn" name="btn" >login</button>
    </form>
</body>
</html>