{% extends 'partials/__base.html' %}
{% load static %}
{% block content %}
    <div>
        {% include 'partials/__alerts.html' %}
    </div>
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <fieldset>
            {% for field in form.visible_fields %}
            <div>
                <label for="{{field.id_for_label}}">{{field.label}}</label>
                {{field}}
            </div>
            {% endfor %}
        </fieldset>
        <button type="submit">Confirmar</button> 
    </form>
    <div>
        <a href="{% url 'signin' %}">Cadastro</a>
    </div>
{% endblock %}